body {
    background-color: rgb(37, 33, 43);
}

#timeDisplay {
    position: relative;
    padding-top: 35vh;
    left: 30vw;
    width: 35vw;
    color: rgb(138, 132, 132);
    font-size: 10vw;
    font-family: 'Kumbh Sans', sans-serif;
    text-align: left;
}

#dayDisplay {
    position: relative;
    left: 30vw;
    width: 35vw;
    color: rgb(138, 132, 132);
    font-size: 2vw;
    font-family: 'Kumbh Sans', sans-serif;
    text-align: left;
}