/* Styling for body and background elements */
body {
  position: static;
  background-color: rgba(0, 0, 0, 0.877);
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../content/bg1.jpg");
<<<<<<< HEAD
  opacity: 0.3;
=======
  opacity: 0.35;
>>>>>>> 4bfdb94d5410d92044f6db19a32f69280543c76c
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

/* Styling for the menu and menu-icon */
.menu {
  position: absolute;
  background: transparent;
  border: none;
  height: 6vh;
  cursor: pointer;
  padding: 1.7vh 0 1vh 1vw;
<<<<<<< HEAD
  top: 1vh;
=======
  margin: auto;
>>>>>>> 4bfdb94d5410d92044f6db19a32f69280543c76c
}

/* Styling for menu-icon */
.menu-lines {
<<<<<<< HEAD
  fill: rgb(238, 238, 238);
  opacity: 0.9;
}

.menu:hover .menu-lines {
  opacity: 1;
}

/* Styling for dropdown menu */
.menu-dropdown-background {
  display: none;
  position: absolute;
  left: 1vw;
  min-width: 20vw;
  min-height: 60vh;
  background-color: rgb(55, 66, 65);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
  opacity: 0.5;
}

.menu-lines:hover .menu-dropdown-background {
  display: block;
}

.menu-dropdown-content {
  display: none;
  position: absolute;
  left: 1vw;
  min-width: 14vw;
  min-height: 60vh;
  text-align: left;
  z-index: 1;
}

h1 {
  color:rgb(233, 233, 233);
  margin: 1vw;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 2.65vw;
}

h2 {
  color:rgb(233, 233, 233);
  margin: 1vw;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.95vw;
}

.menu:hover .menu-dropdown-content {
  display: block;
}

/* Styling for the time and date display */
#timeDisplay {
position: relative;
height: 100%;
margin-top: 30vh;
font-size: 10vw;
}

#dateDisplay {
  position: relative;
=======
  fill: rgb(233, 233, 233);
  opacity: 0.75;
}

.menu:hover .menu-lines {
  opacity: 1;
}

/* Styling for dropdown menu */
.menu-dropdown-background {
  display: none;
  position: absolute;
  left: 1vw;
  min-width: 20vw;
  min-height: 60vh;
  background-color: rgb(55, 66, 65);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
  opacity: 0.5;
}
.menu-dropdown-content {
  display: none;
  position: absolute;
  left: 1vw;
  min-width: 14vw;
  min-height: 60vh;
  text-align: left;
  z-index: 1;
}

h1 {
  color:rgb(233, 233, 233);
  margin: 1vw;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 2.65vw;
}

h2 {
  color:rgb(233, 233, 233);
  margin: 1vw;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.95vw;
}

.menu:hover .menu-dropdown-content {
  display: block;
}

.menu:hover .menu-dropdown-background {
  display: block;
}

/* Styling for the time and date display */
#timeDisplay {
position: relative;
padding-top: 30vh;
left: 29.5vw;
width: 40vw;
font-size: 10vw;
}

#dayDisplay, #dateDisplay {
  position: relative;
  display: inline;
  left: 30vw;
>>>>>>> 4bfdb94d5410d92044f6db19a32f69280543c76c
  font-size: 4vw;
}

/* Common styling for the time, day and date display */
<<<<<<< HEAD
#timeDisplay, #dateDisplay {
=======
#timeDisplay, #dayDisplay, #dateDisplay {
>>>>>>> 4bfdb94d5410d92044f6db19a32f69280543c76c
  font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
  color: rgb(233, 233, 233);
}
